body {
    display: flex;
    height:100vh;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  
  .button {
    color: #f6c71f;
    border: 6px solid #f6c71f;
    border-radius:15px;
    padding: 15px 25px;
    font-size: 80px;
    font-family: tahoma;
    letter-spacing:5px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 15px #f6c71f) drop-shadow(0 0 50px #f6c71f) contrast(2) brightness(2);
    transition: .5s;
  }
  
  .button:hover {
    color: black;
    background-color: #f6c71f;
    filter: drop-shadow(0 0 20px #f6c71f) contrast(2) brightness(2);
  }
  
  a {
    text-decoration: none;
  }